*.class

# Package Files #
*.war
*.ear
/session02/code/JavaMVC/nbproject/private/
/session02/code/RESTService/nbproject/private/
/session02/code/RESTService/build/
/session02/code/JavaWebService/nbproject/private/
/session02/code/JavaWebService/build/
/session02/code/JavaWebService/dist/
/session02/code/JavaWebServiceNetbeans/build
/session02/code/JavaWebServiceNetbeans/nbproject/private/*.properties
